/*
	
	Youth Music Monterey County 
	/resources/stylesheets/stylesheet.css
	
	© Kelly Wong 2017
	
*/

/*
	notes:
	
	- this is the general stylesheet of the YMM page, including:
		- navigation
		- the little bar of social things
		- the footer
		- typography across all pages
*/

/* typography */

body { /* body font:
	- Muli just like everything else, fallback on Helvetica Neue */
	font-family: 'Muli', 'Helvetica Neue', sans-serif; 
}

h1 { /* header 1 font:
	'Youth Music Monterey' title */

}

h2 { /* header 2 font:
	'About' */
	color: #1d5e74;
	font-size: 190%; /* font size adjustment is more for semantics than anything else */
	
}
 
h3 { /* header 3 font:
	'News', the opening card tagline */
	color: #7e624e;
	font-size: 150%;

}

h4 { /* header 4 font:
	'Youth Music Monterey supports two orchestras...' on the opening card */
	font-weight: 400; /* 'regular' font weight */
}

h5 { /* footer labels */
	
}

h6 { /* footer links */
	
}

p {
	
}


a { /* normal links:
	- royal blue */
	color: #1d5e74;
}

a:hover { /* normal hovering links:
	- turns a light shade of brown */
	color: #573f2d;
}

a:visited { /* normal visited links:
	- stays dark brown */
	color: #7e624e;
}

a:active { /* normal links being pressed:
	- turn a darker shade of brown */
	color: #433023;
}

.blueThings { /* things that are blue, currently being used for emphasis on the opening card and even that's a little iffy 
	- they are blue */
	color: #1d5e74;
}

.brownLink { /* links that need browning on the outset (eg opening card links) - hover/active follows the styling of normal links 
	- they are brown */
	color: #7e624e;
}

.dropdownMenu { /* the whole menu :
	- semantics semantics */
	text-transform: uppercase;
}

.dropdownText { /* the text you roll over to get to the stuff below:
	- white and not underlined */
	color: white !important /* in response to a super weird safari bug wherein 'Members' shows as brown?? investigate */;
	text-decoration: none;
}

.dropdownMenu:hover .dropdownText { /* what happens to the dropdown text when you hover over the dropdown menu block?
	-  well it turns a slightrly browner shade of white 
	- there used to be an animation here but not anymore */
	color: #d7beac !important;
}

.dropdownContent { /* dropdown menu links:
	-  they are bold and not underlined */
	font-weight: bold;
	text-decoration: none;
}

.dropdownContent a:hover { /* dropdown menu links when hovered over */
	
}

#openingCard-ymm { /* big title 'YOUTH MUSIC MONTEREY COUNTY' (is also an h1) 
	- white, regular weight applied to 'youth music' bc 'monterey county' changes those properties
	- uppercase and close together */
	color: white;
	font-weight: 400;
	font-size: 50px;
	text-transform: uppercase;
	line-height: 0.9;
}

#openingCard-ymm-emphasis { /* the 'MONTEREY COUNTY' in 'YOUTH MUSIC MONTEREY COUNTY' 
	- bolded and slightly brown */
	font-weight: 700;
	color: #d3c1b4;
}


#openingCard-tagline { /* 'Building the next generation of musicians and music lovers.'
	- color is black specifically because all other h3s are brown, yeah i know im sorry 
	- should note actually that 'musicians' and 'music lovers' is wrapped in a 'blueThings' <span> that makes them blue, like in case you forget i guess*/
	color: black;
}

.openingCard-descriptor { /* 'Youth Music Monterey County supports two orchestras...' on the opening card */
	
}

#openingCard-button { /* The text on the opening card button; a on:hover property further down changes the color to royal blue */
	text-transform: uppercase;
	font-family: 'Muli', sans-serif;
	font-weight: 700;
	font-size: 13px;
	color: gray;
}

.labels { /* not very self-explanatory, but this class refers to labels like 'News' and 'Events' - quite possibly will delete this */
	
}

.actionButton { /* Programs, Members, and Donate 
	- bold italics */
	font-family: 'Muli', sans-serif;
	font-style: italic;
	color: white;
	font-size: 16px;
	font-weight: 700;
}

#footer { /* footer text:
	- is white */
	color: white;
}

#footer a { /* footer links:
	- are white */
	color: white;
}

#footer a:hover { /* footer links:
	- turn light blue */
	color: #9bb2ba;
}

.footer-links a { /* footer sitemap links (whoops should have been more specific above):
	- are slightly bigger and have no underline */
	font-size: 16px;
	font-weight: 400;
	text-decoration: none;
}

#footer-copyright { /* footer copyright text: 
	- light gray and is small */
	font-size: smaller;
	color: #c3c3c3;
}


/* top navigation */

#navigation { /* the navigation block:
	- absolutely positioned at the top of the page
	- deleted display: inline-block because it didn't do anything and i'm not sure why i put that there in the first place
	- no idea why it's so impossible to center this (or anything) horizontally */
	position: absolute;
	width: 630px; /* apparently necessary to get the thing to center, but noted that the block is left justified within the 630px */
	
	left: 0;
	right: 0;
	margin-top: 2%; /* separates the bar from the top of the screen by 2% */
	margin-left: auto;
	margin-right: auto;
  
	z-index: 50;
}

#topLogo {
	height: 45px;
	position: relative;
	
}

.navigation-bar {
	display: block;
	
	margin-top: -46px;
	margin-left: 75px;
}

#navSearchBar {
	display: inline;
	
	margin-left: 1%;
	color: white;
	
	cursor: pointer;
}

.dropdownText {
	display: block;
	padding: 10px 0px;
	
}

.dropdownMenu {
    position: relative;
    display: inline-block;
    padding-left: 2%;
	padding-right: 2%;
	
    z-index:1;
}

/* not an especially elegant solution, but it works... 
	
	changes all the heights from 0 to the specified height, which obviously changes every time you change the padding and size of the menu. current buttons are exactly 50 px tall, so probably not a good idea to change them anyways. 
*/

.dropdownMenu-Events:hover .dropdownContent {
    height: 50px; 
}

.dropdownMenu-Programs:hover .dropdownContent {
    height: 250px;
}

.dropdownMenu-Involved:hover .dropdownContent {
    height: 350px;
}

.dropdownMenu-Members:hover .dropdownContent {
    height: 150px;
}

.dropdownMenu-About:hover .dropdownContent {
    height: 200px;
}

.dropdownMenu:hover .dropdownText {
	/* changes the look of the hovered text when the menu is activated */

}

.dropdownContent {
	/* changes look of dropdown content */
    position: absolute;
    min-width: 250px;
    box-shadow: 3px 8px 16px rgba(0,0,0,0.2);
    background-color: rgba(255,  255,  255, 0.95);

    z-index: 3;
    
    overflow:hidden;
    height:0;
    -webkit-transition:height 200ms ease-in;
    -moz-transition:height 200ms ease-in;
    -o-transition:height 200ms ease-in;
    transition:height 200ms ease-in;
}

.dropdownContent ul {
	/* cancels out effects of dropdown content being listed by ul, which is great semantically but not stylistically */
	list-style-type: none;
    margin: 0;
    padding: 0;
}

.dropdownLink {
	/* re: dropdown link text specifically, a lot of which is changed in the following css */
	
}

.dropdownContent li a {
	/* re: look of individual links */
	
    display: block;
    color: #000;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
}

.dropdownContent li a:hover {
	/*  re: look of hovered link in menu */
	
    background-color: #1c5c72;
    color: white;
}


/* opening card */

#openingCard-ymmAndLogo { /* the block with the logo and the title:
	- fades in
	- height of container is 250px, flex display, pushed to the right 10% of the screen and kept at 50% from the bottom */

	/* fades in the title and the logo */ 
    -webkit-animation: fadein 4s;
       -moz-animation: fadein 4s; 
        -ms-animation: fadein 4s;
         -o-animation: fadein 4s;
            animation: fadein 4s;

	height: 250px; /* this also controls how large the ymm logo is, which is set to 100% of the height of the container */ 
	display: flex; /* prev. inline-flex, idk why */ 
	position: absolute;
	
	bottom: 50%;
	margin-left: 10%;

	z-index: 3;
}

@keyframes fadein { /* don't actually know what this does but it works */
    from { opacity: 0; }
    to   { opacity: 1; }
}

#openingCard-logo {	
	position: relative;
	height: 100%;
}

#openingCard-ymm {
	position: relative;
	margin-left: 5%;
	margin-right: 15%;
	top: 19%;
	

}


#openingCard {
	margin-left: 18%;
	bottom: 20%;
	position: absolute;
	
	padding: 30px;
	border-radius: 10px;
	max-width: 400px;
	
	z-index: 2;
	
	background-color: rgba(255, 255, 255, 0.87);
	box-shadow: -2px 29px 52px rgba(0, 0, 0, 0.39)
}


#openingCard-ymm-emphasis {

}

#openingCard-tagline {
	margin-right: 10%;
}

#openingCard-descriptor {
	
}

#openingCard-button {
	width: 40%;
	height: 40px;
	border: 1px solid gray;
	border-radius: 30px;
	background-color: rgba(255, 255, 255, 0);
	-webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}

#openingCard-button:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
	color: #1d5e74;
	border: 1px solid #1d5e74;
	
	cursor: pointer;
}


/* parallax */

body, html { /* i honestly have no idea why this works but it's the only thing keeping the front page from falling apart */
    height: 100%;
    margin: 0;
}

#parallaxBackgroundTop {  /* styles the parallaxBackgroundTop div */
    background-image: url("resources/images/widescreen/3.jpg"), url("../images/widescreen/3.jpg");

    height: 90%; 
    width: 100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    position: relative;
    
}

/* information cards */

#informationCardBlock {
	margin-top: 5%;
	margin-left: auto;
	margin-right: auto;
	width: 900px;
	display: flex;
}

.ellipticalShadow {
	position: relative;
	top: -30px;
	height: 20px;
}

.ellipticalShadow:before {
	position: absolute;
	content: '';
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background-color: rgba(155,155,0, 0.25);
	border-radius: 50% / 20px; 
	box-shadow: 0px 0px 10px rgba(49, 49, 49, 0.7);
	clip: rect(20px, auto, 50px, 0);
}

.informationContent {
	margin-top: -30px;
	margin-left: 20px;
	margin-right: 20px;
	padding-top: 20px;
	height: 400px;

	overflow: scroll;
}

#informationCards h3 {
	
}

.informationCard {
	width: 40%;
	max-width: 300px;
	margin-right: 4%;
}

#informationCards-news {

}

#informationCards-events {

}

/* main page buttons */

.mainActionButtons {
	margin-top: 70px;
}

.actionButton {
	border-radius: 4px;
	border: none;
	padding: 15px;
	width: 200px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
}

#actionButton-Programs {
	background-color: #1c5c72;
}

#actionButton-Members {
	background-color: #497c8e;
}

#actionButton-Donate {
	background-color: #769daa;
}

.actionButton span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
}

.actionButton span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -0px;
	transition: 0.5s;
}

.actionButton:hover span {
	padding-right: 10px;
}

.actionButton:hover span:after {
	opacity: 1;
	right: 0;
}

.mainSocialButtons {
	margin-right: auto;
	margin-left: auto;
	margin-top: 5px;
	width: 187px;
}

.social {
	font-size: 80%;
	color: white;
	border: none;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	margin: 2px;
	display: inline-block;
	-webkit-transition-duration: 0.3s ease-in-out; 
	transition: all 0.3s ease-in-out;
}

.social {
	background-color: #978171;
} 

/*
.social-1 {
	background-color: #978171;
} 

.social-2 {
	background-color: #8a715f;
} 

.social-3 {
	background-color: #7e624e;
} 
*/

.socialIcons {
	transition: all 0.3s ease-in-out;
}

.social:hover .socialIcons {
	-webkit-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
}


.social:hover {
	background-color: #7e624e;
	cursor: pointer;
}

/*
.social:hover {
	box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.74);
	cursor: pointer;
}
*/

/* main page about */

.content {
	margin: 5% auto;
	max-width: 700px;
}


/* footer */

#footer {
/*
	display: flex;
	position: relative;
	
	background-color: #2f5b70;
	background-image: url(https://www.transparenttextures.com/patterns/dark-circles.png);

    height: 24%; 
    width: 94%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    
    z-index: 0;
    
    padding: 3%;
*/

	display: flex;
	position: relative;
	
	padding: 3%;
	
	z-index: 0;
	
/*
	background-color: #277b97;
	background-image: url(https://www.transparenttextures.com/patterns/cartographer.png); 
*/
	
	/* also try: escheresque.png, flowers.png, xv.png, skulls.png */
	
	background-color: #573f2d;
	background-image: url("resources/images/footerPatterns/skulls.png"), url("../images/footerPatterns/skulls.png");
}


#footer-contactUs {

	
}

#footer-sponsoredBy {
	margin: 0% 3%;
}

#footer-sponsoredBy-logo {
	width: 150px;
}

#footer-linkBlock {
	right: 100px;
}

.footer-links {
	margin: 0px 5px;
}

#footer-socialBlock {
	display: inline-block;
	bottom: 50px;
	float: left;
}

.footer-social {

}

#footer-socialBlock .social {
	background-color: #769daa;
} 

#footer-socialBlock .social:hover {
	background-color: #517d8c;
}

/* This stuff to make the buttons different will stay if you ever want to change that
	
#footer-socialBlock .social-1 {
	background-color: #769daa;
}

#footer-socialBlock .social-2 {
	background-color: #769daa;
} 

#footer-socialBlock .social-3 {
	background-color: #769daa;
} 
*/


#footer-copyright {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	width: 350px;
	
	margin-left: auto;
	margin-right: auto;
}
